header {
    color: red;
}
div {
    background-color: black;
    border: 1rem;
    margin: 16px;
    padding: 10px;
}

[header = "attribute-value"] {
    color: pink;
}

.Important {
    color: purple;

}

#aqua {
    color: aqua;
}

footer {
    color: black;
}

.Final[statement]{
    color:blueviolet;
}

[global]{
    color: hotpink;
}

.List > li{
    color: peachpuff;
}

.Lilst > ul{
    color: greenyellow;
}

.table {
    color: white;
}

.bgswitch {
    background-color:aquamarine;
}